.container{

    background-color: rgb(199, 164, 231);
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(46, 40, 54, 0.5);
    width: 50%;
    margin-left: 25%;
}

.boton{
    background-color: rgb(82, 64, 105);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}
.input{
    background-color: rgb(229, 219, 241);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}
.body{
    background-color: rgb(255, 240, 253);
}