#id_parrafo1{
    text-align:right;
    font-style:italic;
}
#id_parrafo2{
    text-transform:uppercase;
    text-decoration:line-through;
}
#id_parrafo3{
    font-size:120%;
    font-family:'Courier New', Courier, monospace;
}
#id_parrafo4{
    font-weight:bold;
    text-shadow:-4px 3px 5px green;
}
#id_div1{
    margin: 10px;
    width: 400px;
    height: 200px;
    background-color: darkseagreen;
    background-position: left , top;    
    border-radius: 10px;
    display: inline-block;
}
#id_div2{
    margin: 10px;
    width: 400px;
    height: 200px;
    background-color: rgb(94, 211, 172);
    background-position:center , top ;
    border-radius: 10px;
    display: inline-block;

}
#id_div3{
    margin: 10px;
    width: 400px;
    height: 200px;
    background-color: rgb(172, 100, 214);
    background-position: right , top ; 
    border-radius: 10px;
    display: inline-block;
       
}
#id_cuadrado1{
    margin: 5px;
    width: 100px;
    height: 30px;
    background-color: rgb(100, 214, 138);
    background-position: right ;
    display: inline-block;
}
#id_cuadrado2{
    margin: 5px;
    width: 100px;
    height: 30px;
    background-color: rgb(214, 187, 100);
    background-position: center ;
    display: inline-block;
}
#id_cuadrado3{
    margin: 5px;
    width: 100px;
    height: 30px;
    background-color: rgb(214, 100, 134);
    background-position: left ;
    display: inline-block;
}
